if ARCH_TMPA9XX

choice

	prompt "Select TX09 Variant"

config CPU_TMPA910
	depends on ARCH_TMPA9XX
	bool "TMPA910 SoC"

config CPU_TMPA900
	depends on ARCH_TMPA9XX
	bool "TMPA900 SoC"

endchoice

choice

	prompt "Select TMPA9xx board"
        
config MACH_TOPASA900
        bool "Toshiba TopasA900 TMPA900 development board"
	depends on CPU_TMPA900

config MACH_TONGA
        bool "Glyn ARM9 / Tonga2 board"
	depends on CPU_TMPA900
	select HAVE_PWM

config MACH_TONGA2_TFTTIMER
        bool "TFTTimer / Tonga2 board"
	depends on CPU_TMPA900
	select HAVE_PWM

endchoice        

config MACH_TOPAS910
        bool "Toshiba Topas910 TMPA910 development board"
	depends on CPU_TMPA910

endif
