#
# TMPA9xx I2S audio support
#
config SND_SOC_TMPA9XX
	tristate "SoC Audio for Toshiba TMPA9XX I2S"
	help
	  This option enables support for the I2S audio link interface
	  in Toshiba TMPA9xx SoCs.

config SND_SOC_TMPA9XX_I2S
	tristate

#
# Boards
#
config SND_SOC_TMPA9XX_TOPAS
	tristate "Support for Toshiba TOPAS reference board"
	depends on SND_SOC_TMPA9XX
	select SND_SOC_TMPA9XX_I2S
	select SND_SOC_WM8978
	help
	  This options adds support for the TOPAS9x0 reference designs
	  and their codecs.

config SND_SOC_TMPA9XX_GLYNBB
	tristate "Support for TMPA900 ARM9 SO-DIMM on Glyn baseboard"
	depends on SND_SOC_TMPA9XX
	select SND_SOC_TMPA9XX_I2S
	select SND_SOC_WM8983
	help
	  This options adds support for the TMPA900 ARM9 SO-DIMM board
	  attached to the baseboard by Glyn.
