#
# PWM infrastructure and devices
#

menuconfig GENERIC_PWM
       tristate "PWM Support"
       depends on SYSFS
       help
         This enables PWM support through the generic PWM API.
         If unsure, say N.

if GENERIC_PWM

config TMPA9XX_PWM
       tristate "TMPA9xx PWM support"
       depends on ARCH_TMPA9XX
       help
         This option enables device driver support for the PWMC
         peripheral channels found TMPA9xx based processors.
         If unsure, say N.

config TMPA9XX_PWM_CANNEL_0
       bool "Enable PWM Channel 0"
       depends on TMPA9XX_PWM
       help
         Make use of Channel 0 (on Timer 0)

config TMPA9XX_PWM_CANNEL_1
       bool "Enable PWM Channel 1"
       depends on TMPA9XX_PWM
       help
         Make use of Channel 1 (on Timer 2)

config ATMEL_PWM
       tristate "Atmel AT32/AT91 PWM support"
       depends on AVR32 || ARCH_AT91
       help
         This option enables device driver support for the PWMC
         peripheral channels found on certain Atmel processors.
         If unsure, say N.

config GPIO_PWM
       tristate "PWM emulation using GPIO"
       help
         This option enables a single-channel PWM device using
         a kernel interval timer and a GPIO pin.  If unsure, say N.

endif
