#
# PWM infrastructure and devices
#

menuconfig GENERIC_PWM
	tristate "PWM Support"
	help
	  Enables PWM device support implemented via a generic
	  framework.  If unsure, say N.

config GPIO_PWM
       tristate "GPIO+hrtimer PWM device emulation"
       depends on GENERIC_PWM
       help
         When enabled, this feature emulates single-channel PWM
	 devices using high-resolution timers and GPIO pins.  You may
	 create as many of these devices as desired, subject to CPU
	 throughput limitations and GPIO pin availability.

	 To compile this feature as a module, chose M here; the module
	 will be called gpio-pwm.  If unsure, say N.

config TMPA9XX_PWM
       tristate "TMPA9xx PWM support"
       depends on GENERIC_PWM && ARCH_TMPA9XX
       help
         This option enables device driver support for the PWMC
         peripheral channels found TMPA9xx based processors.
         If unsure, say N.

config TMPA9XX_PWM_CANNEL_0
       bool "Enable PWM Channel 0"
       depends on TMPA9XX_PWM
       help
         Make use of Channel 0 (on Timer 0)

config TMPA9XX_PWM_CANNEL_1
       bool "Enable PWM Channel 1"
       depends on TMPA9XX_PWM
       help
         Make use of Channel 1 (on Timer 2)
